{{#file-drop
        file=attachment
        onChange=(action sendFile)
}}
    <div class="file-loader">
        {{t 'openFile'}}
        {{material-icon "cloud_download"}}
    </div>
{{/file-drop}}
<div class="player-and-recorder-wrapper">
    {{audio-player
        songName=currentSoundName
        audios=audios
    }}
</div>
{{audio-table
    audios=audios
    updateCurrentSound=(action updateCurrentSound)
}}
<button class="ui secondary basic button full-width" {{action "recognize"}}>{{t "table.actionsColumn"}}</button>